<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>test</filter-name>
		<display-name>test</display-name>
		<description></description>
		<filter-class>com.ih.controller.test</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>test</filter-name>
		<url-pattern>/test</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>JerseyController</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <!-- The package now NEED to reference all classes used on startup -->
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.ih.rest.jersey
            </param-value>
        </init-param>
        
        <!-- Application -->
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ih.rest.jersey.JerseyApp</param-value>
        </init-param>
        
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RestController</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CarController</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>GetController</servlet-name>
		<display-name>GetController</display-name>
		<description></description>
		<servlet-class>com.ih.controller.GetController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpController</servlet-name>
		<display-name>SignUpController</display-name>
		<description></description>
		<servlet-class>com.ih.controller.SignUpController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogInController</servlet-name>
		<display-name>LogInController</display-name>
		<description></description>
		<servlet-class>com.ih.controller.LogInController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileController</servlet-name>
		<display-name>ProfileController</display-name>
		<description></description>
		<servlet-class>com.ih.controller.ProfileController</servlet-class>
	</servlet>

<!-- 	
	<servlet-mapping>
		<servlet-name>JerseyController</servlet-name>
		<url-pattern>/jersey/*</url-pattern>
	</servlet-mapping> -->
	
	<servlet-mapping>
		<servlet-name>RestController</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	
		<servlet-name>CarController</servlet-name>
		<url-pattern>/car/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetController</servlet-name>
		<url-pattern>/GetController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/SignUpController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInController</servlet-name>
		<url-pattern>/LogInController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/ProfileController</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

</web-app>
